
@mixin breakpoint($size) {
  @if $size == atSmall {
  @media (min-width: 530px) { @content; }
  }

  @if $size ==  atMedium {
  @media (min-width: 800px) { @content; }
  }

  @if $size ==  atLarge {
  @media (min-width: 1010px) { @content; }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
