.landing {

  &__quote {
    margin: 3.0rem auto;
    padding: 6.0rem 0 0;
  }

  &__opening {
    margin: 1.0rem auto;
    padding: 2.0rem 0 0;
  }

  &__site-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li {
      margin: 1.4rem 0.8rem;
      list-style-type: none;
    }

    a {
      min-width: 7.8rem;
    }
  }
}
