.nav {

  &__top-bar {

    background-color: $nav-background;

    &__menu {
      color: black;
    }

    &__menu-text {
      color: $nav-text-color !important;
    }

    &__menu > &__menu-text > a {
      display: inline;
      padding: 0;
    }

    &.active-link {
      font-weight: bold;
    }

  }  
}
